
body {
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #2b0037;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

.form-container {
    margin-top: 40px;
    padding: 20px;
    overflow: scroll;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    height: 400px;
}

.studyset-word-solution {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: baseline;
    padding-left: 5px;
}


label {
    padding-left: 10px;
}

.h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

.back {
    position: fixed;
    left: 40px;
    top: 20px;
    line-height: 48px;
    font-size: 1rem;
}

.studyset-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.studyset-name label {
    margin-bottom: 5px;
}

.studyset-name input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: none;
    border-radius: 5px;
    background-color: #4a235a;
    color: #ffffff;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
}

.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-button button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5e007a;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submit-button button:hover {
    background-color: #7e00a2;
    transform: translateY(-3px);
}

body {
    background-color: #2b0037;
    overflow: hidden;
}